* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/* {
    font-weight: 500;  medium
    font-weight: 800;  extrabold
    color yellow: #ffdb06
    color blue: #1e5eff
} */

body {
  overflow-x: hidden;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 100;
  display: flex;
}

.design > * {
  color: black;
}

.dev > * {
  color: white;
}

.cursor {
  width: 3rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.cursor-cir {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid #000000;
  margin: auto;
  transition-duration: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-text {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.3rem;
  transition-duration: 0.2s;
  color: black;
}

p {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

main {
  overflow-x: hidden;
}

.hide {
  display: none;
}

.design {
  background-color: #ffdb06;
}

.dev {
  background-color: #0a4fff;
}

.landing {
  width: 100%;
  height: 100vh;
  max-height: 60rem;
  max-width: 90rem;
  margin: auto;
  display: flex;
}

.landing-container {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.landing-left {
  width: 60%;
  padding-top: 3rem;
  /* padding-left: 5rem; */
}

.landing-hero {
  width: 80%;
  max-width: 35rem;
  height: 25rem;
  /* margin-left: 5rem; */
  margin-bottom: 3rem;
  overflow: hidden;
  position: relative;
}

.landing-hero img {
  width: 33%;
  position: absolute;
}

#bird {
  left: 20rem;
  top: 0;
}

#tap-hand {
  left: 15rem;
  top: 13rem;
  z-index: 1;
}

#head {
  left: 0.3rem;
  z-index: 2;
  transform: scale(0);
}

#heart {
  z-index: 1;
  left: 1rem;
  top: 1rem;
  transform: scale(0);
}

.landing-left p {
  width: 100%;
  /* background-color: white; */
  font-size: 1.2rem;
}

.landing-right {
  background-color: white;
  color: black;
  width: 40%;
}

.landing-right nav ul {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 5rem;
  color: black;
}

.landing-right nav ul li:hover {
  text-decoration: wavy overline;
}

.name h1 {
  font-size: 8rem;
  text-align: right;
  padding-right: 1.5rem;
  margin-top: -3.5rem;
  color: black;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 5rem;
}

.title-container h2 {
  font-size: 2.8rem;
  padding: 1rem;
}

.title-container h2:first-child {
  color: white;
  background-color: black;
}

.location-container {
  display: flex;
  float: right;
  width: 13rem;
  justify-content: flex-end;
  margin-top: 5rem;
}

.location-container h3 {
  padding: 1rem;
  font-size: 1.5rem;
}

.location-container h3:nth-child(2) {
  color: white;
  background-color: black;
}

.case-study {
  width: 100%;
  max-width: 90rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 2rem;
  margin: auto;
  margin-top: -5rem;
}

.case-text-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 270rem;
  transform: translateX(-20rem);
  /* overflow-x: scroll; */
}

.case-text-container img {
  width: 40rem;
}

.work-container {
  width: 100%;
  max-width: 90rem;
  margin: auto;
  padding: 2rem;
}

.work {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  padding-bottom: 4rem;
  padding-top: 4rem;
  height: 30rem;
}

.work-dev {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.work .text-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.work .text-container h1 {
  font-size: 5rem;
  line-height: 1;
}

.text-container ul li {
  margin-top: 0.5rem;
}

.text-container ul li span {
  font-weight: 800;
  margin-right: 0.3rem;
}

.work .image-container {
  background-color: white;
  /* width: 35%; */
  width: 25rem;
  height: 0rem;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

.more {
  text-align: right;
  margin-top: 2rem;
}

footer {
  padding-bottom: 1rem;
  width: 100%;
  max-width: 90rem;
  margin: auto;
}

footer .contact-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 1.5rem;
}

footer .contact-container h1 {
  font-size: 1.5rem;
}

footer .contact-container h3 {
  font-size: 1rem;
  font-weight: 500;
}

footer .copyright h3 {
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}

/* dev style */
#computer {
  width: 50%;
  z-index: 1;
}

#rock1 {
  width: 15%;
  left: 10rem;
  z-index: 1;
}

#rock2 {
  width: 10%;
  left: 15rem;
  z-index: 1;
}

#rock3 {
  width: 20%;
  z-index: 1;
}

#rock4 {
  width: 15%;
  z-index: 1;
}

#cir {
  width: 15%;
  z-index: 1;
}

#dark-cir {
  width: 70%;
  position: absolute;
  left: 3rem;
}

/* case study style  */

.case-post {
  /* border: 2px solid black; */
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  padding-top: 6rem;
  margin: auto;
  margin-bottom: 2rem;
  border-bottom: 3px solid black;
}

.case-post h1 {
  text-align: center;
  font-size: 4rem;
}

.case-post h5 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.case-post h6 {
  font-weight: 500;
  font-size: 1.2rem;
}
.case-post h5 a {
  color: #0a4fff;
  font-weight: 800;
}

.case-post h3 {
  font-size: 1.5rem;
  margin-top: 4rem;
}

.post-hero-container {
  width: 100%;
  margin: auto;
  margin-top: 4rem;
}

.post-hero-container img {
  width: 100%;
  object-fit: cover;
}

.case-post p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-top: 0.5rem;
}

.case-post .bar-text {
  text-align: center;
  width: 80%;
  padding: 1rem;
  border: 3px solid black;
  margin: auto;
  margin-top: 2rem;
  border-radius: 8px;
  background-color: #ffdb06;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.bar-container {
  width: 100%;
  min-height: 20rem;
  border: 3px solid black;
  margin-top: -1rem;
  padding: 1.5rem;
  display: none;
  padding-top: 3rem;
}

.bar-container img {
  width: 100%;
  margin-top: 1rem;
}

.case-post h2 {
  font-size: 2rem;
  text-align: center;
}

.case-post .bar-text:hover {
  color: #ffdb06;
  background-color: black;
}

.double-process {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

span {
  font-weight: 800;
}

.post-nav {
  padding: 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffdb06;
  z-index: 2;
}

.post-nav-container h3 {
  padding-left: 3rem;
}

.post-nav-container {
  width: 100%;
  max-width: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-nav-container h3 {
  margin-top: 0;
}

.post-nav-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  padding-right: 2.5rem;
  width: 40%;
}

.post-nav-container ul li:hover {
  text-decoration: wavy overline;
}

.interview-questions li {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.key-quotes {
  width: 90%;
  padding: 1.5rem;
  border: 3px dotted black;
  text-align: center;
  margin: auto;
  margin-top: 2rem;
}

.key-quotes h5 {
  margin-top: 1rem;
}
.key-quotes h3 {
  margin-top: 1rem;
}

.product-requirement {
  margin-top: 1rem;
}
.product-requirement li {
  margin-top: 1rem;
}

.ar-task-flow {
  display: flex;
  justify-content: center;
}

.ar-task-flow img {
  margin-top: 1rem;
  width: 20%;
}

.site-map-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.site-map-container img {
  max-width: 13rem;
}
